doctype html
html(lang="en")
  head
    title Webpack with Pug
  body
    h1 Hello, Webpack with Pug!
    p This is a simple page using Webpack and Pug.
    svg
      use(xlink:href="img/sprite.svg#logo")
    button.btn This is button
    p This is a simple page using Webpack and Pug.
    button.btn-full This is button 100
    img(src="img/social.jpg", alt="social")